{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} Fundacion Tacita</title>

    
    <link rel="shortcut icon" href="{% static 'imagen/tclogo.jpg' %}">

	<!-- referencias https -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />

    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
   
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
         {% block tittle %}{% endblock %}
      
  
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
     		<img src="{% static 'imagen/user.png' %}" class="usern">
          		<div class="demo-avatar-dropdown">
            		<span>
            		<form id="logoutForm" action="/logout" method="post" class="navbar-right">
   				 		{% csrf_token %}
    					<ul class="nav navbar-nav navbar-right">
       					 	<li><span class="navbar-brand">Bienvenido {{ user.username }}! </span></li>
       					 
   					 	</ul>

					</form>
            
            		</span>
           
            

          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >home</i>Fundacion</a>
          <a class="mdl-navigation__link" href="{% url 'voluntarios' %}"><i class="mdl-color-text--blue-grey-400 material-icons" >people</i>Voluntarios</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >flag</i>Eventos</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >delete</i>Trash</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >report</i>Ayuda</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >forum</i>Correos</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >shopping_cart</i>Inventario</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >inbox</i>Reportes</a>
          <div class="mdl-layout-spacer"></div>
          </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-400">
        <div class="mdl-grid demo-content">
          {% block contenido %}{% endblock %}
          
        </div>
      </main>
    </div>
      
      <a href="{% url 'website' %}" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">volver al sitio</a>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
